@charset "utf-8";

.utilWrap{}
.utilWrap .util{width: 980px;margin: 0 auto;background-color: skyblue;}
.utilWrap .util .utilMenu{float: right;}
.utilWrap .util .utilMenu ul li{float: left;position: relative;}
.utilWrap .util .utilMenu ul li::after{content: "";display: block;
border-right: 1px solid #000;width: 1px;height: 7px;
position:absolute;top: 14px;right: 0px;
}
.utilWrap .util .utilMenu ul li:last-child::after{display: none;}
.utilWrap .util .utilMenu ul li a{display: block;padding: 7px 12px;font-size: 12px;}


.headerWrap{}
.headerWrap .header{width: 980px;margin: 0 auto; background-color: pink;
padding: 15px 0px;}
.headerWrap .header h1{text-align: center;display: block;}

.headerWrap .toggleWrap{width: 980px; margin: 0 auto;position: relative;}
.headerWrap .toggleWrap .toggle{width: 45px;height: 45px;border: 1px solid #000;
    position: absolute;right: 0px;top: -60px;}


.navWrap{}
.navWrap .nav{width: 980px;margin: 0 auto;background-color: yellow;}
.navWrap .nav li{float: left; width: calc(980px / 6);border-left: 1px solid #000;}
.navWrap .nav li:last-child{border-right: 1px solid #000;}
.navWrap .nav li a{display: block;line-height: 40px;text-align: center;}


.visualWrap{
    background-image: url(/images/main_bg01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: blue;
}
.visualWrap .visual{width: 980px;height: 400px;margin: 0 auto;
    position: relative;
}
.visualWrap .visual h2{line-height: 80px;font-size: 80px;position: absolute;
    top: 120px;}
.visualWrap .visual img{position: absolute;right: 0px;}